include LICENSE.txt
include README.md
include requirements.txt
recursive-include barplot *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude barplot.egg-info *